.main_container {
  padding: 4rem 4.5rem;
  height: auto;
  width: 100%;
  background: linear-gradient(
      rgba(49, 6, 41, 0.8) 100%,
      rgba(49, 6, 41, 0.8) 100%
    ),
    url(../../../../public/assets/images/bg.png) center center no-repeat;
}
.main_heading {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 4rem;
}

.card-layout {
  display: flex;
  flex-wrap: wrap;
}
.card-layout__item {
  flex-basis: 30%;
  margin-left: 1rem;
  margin-right: 1rem;
  border: 5px solid var(--main-color);
  border-radius: 10px;
}

.game-icon {
  width: 30%;
  display: block;
  margin: 1rem auto;
}
.game-details__container > h3 {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 200;
  color: var(--main-color);
  margin-bottom: 1rem;
}
.game-details__container {
  padding: 1.5rem;
}
.play_link {
  text-decoration: none;
  color: var(--alt-color-purple);
}
.play_link:hover,
.play_link:active {
  color: var(--alt-color);
}
.play_btn {
  width: fit-content;
  margin-top: 1rem;
  background-color: var(--main-color);
  border: 10px;
  border-radius: 10px;
  padding: 0.5rem 1rem;
}
.play_btn > Link:hover {
  color: var(--alt-color-purple);
}
@media only screen and (max-width: 600px) {
  .card-layout {
    display: flex;
    flex-direction: column;
  }
  .card-layout__item {
    flex-basis: 100%;
    margin: 1rem;
  }
  .main_container {
    padding: 4rem 2rem;
  }
}
@media only screen and (min-device-width: 601px) and (max-device-width: 1024px) {
  .card-layout {
    display: flex;
    flex-direction: column;
  }
  .card-layout__item {
    flex-basis: 100%;
    margin: 1rem;
  }
  .main_container {
    padding: 4rem 2rem;
  }
}
