.footer_bg {
  height: 100%;
  width: 100%;
  background: linear-gradient(
      rgba(49, 6, 41, 0.9) 100%,
      rgba(49, 6, 41, 0.9) 100%
    ),
    url(../.././../../public/assets/images/footer.jpg) center center no-repeat;
}
.copyright-container {
  margin-top: 3rem;
  display: grid;
  place-items: center;
  background: rgba(49, 6, 41, 0.9);
  padding: 2rem;
}
