.login_container {
  display: grid;
  place-items: center;
  margin-top: 1rem;
}
.login_container > h3 {
  padding-bottom: 2rem;
}
.form__container_login {
  width: 50%;
  height: auto;
  border: 5px solid var(--main-color);
  border-radius: 10px;
  padding: 2rem 4rem;
}
.form__container {
  width: 50%;
  height: 75vh;
  border: 5px solid var(--main-color);
  border-radius: 10px;
  padding: 1rem 4rem;
}
.form_input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.form_btn {
  margin-top: 0.5rem;
  outline: none;
  border: none;
  width: 20%;
  background: var(--main-color);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1.2rem;
}
.form_btn:hover,
.form_btn:active {
  background-color: var(--alt-color-purple);
  color: aliceblue;
  transition: all 0.5s ease-in-out;
}
.input_err {
  color: red;
}
.success_msg {
  color: var(--main-color);
}

/* Responsiveness */
@media only screen and (max-width: 600px) {
  .login_container {
    padding: 1rem 2rem;
  }
  .form__container {
    width: 100%;
    padding: 1rem;
  }
  .form_btn {
    width: 100%;
  }
}

@media only screen and (min-device-width: 601px) and (max-device-width: 1024px) {
  .login_container {
    padding: 1rem 2rem;
  }
  .form__container {
    width: 100%;
    padding: 1rem;
  }
  .form_btn {
    width: 100%;
  }
}
