.nav__container {
  display: flex;
  flex-direction: row;
  padding: 1.5rem 4.5rem;
  justify-content: space-between;
  background-color: var(--main-color);
}
.nav_items--container {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}
.nav_menu--container > ul,
.nav_signup--container > ul {
  list-style-type: none;
  display: flex;
}
.nav_menu--container > ul > li,
.nav_signup--container > ul > li {
  margin-right: 2rem;
  padding: 0.2rem 1rem;
}
.nav_menu--container > ul > li:hover,
.nav_menu--container > ul > li:active {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 3px solid var(--alt-color);
  border-radius: 20px;
}
.nav_login--btn,
.nav_signup--btn {
  border: 3px solid var(--alt-color-purple);
  border-radius: 20px;
  padding: 0.2rem 1rem;
}
.nav_signup--btn {
  background-color: var(--alt-color-purple);
  color: #fff;
}
.nav_signup--btn:hover,
.nav_signup--btn:active {
  background-color: transparent;
  border: 3px solid var(--alt-color);
}

.nav_login--btn > a,
.nav_signup--btn > a {
  text-decoration: none;
  color: var(--alt-color);
}

.nav_login--btn > a:hover,
.nav_login--btn > a:active {
  color: var(--alt-color-purple);
}
.nav_login--btn:hover,
.nav_login--btn:active {
  background-color: var(--alt-color);
  color: var(--alt-color-purple);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
/* Sticky nav */
.nav__container--sticky {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--alt-color-purple);
  width: 100%;
}
.nav__brand {
  display: flex;
}
.nav__brand > h1 {
  color: var(--alt-color);
}
.nav_brank_lnk {
  text-decoration: none;
}
.nav_brand_icon {
  font-size: 2rem;
  color: var(--alt-color);
}
.nav__menu--icon {
  display: none;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
  .nav__container {
    flex-direction: row;
    padding: 0rem 2rem 0rem;
  }
  .nav__menu--icon {
    font-size: 2rem;
    display: block;
  }
  .nav_items--container {
    display: none;
  }
  .nav_items-container-res {
    z-index: 999;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 40px;
    left: 0px;
    background-color: var(--alt-color-purple);
    transition: all 0.5s ease-in-out;
    padding: 1rem;
    width: 100%;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 601px) and (max-device-width: 1024px) {
  /* Styles */
  .nav__container {
    flex-direction: row;
    padding: 1rem 2rem;
  }
  .nav__menu--icon {
    font-size: 2rem;
    display: block;
  }
  .nav_items--container {
    display: none;
  }
  .nav_items-container-res {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 90px;
    left: 0px;
    background-color: var(--alt-color-purple);
    transition: all 0.5s ease-in-out;
    padding: 1rem;
    width: 100%;
  }
}
