/* .app_bg {
  height: 100vh;
  width: 100%;
  background: linear-gradient(
      rgba(49, 6, 41, 0.8) 100%,
      rgba(49, 6, 41, 0.8) 100%
    ),
    url(../public/assets/images/bg2.jpg) center center no-repeat;
} */
.app_container {
  /* padding-top: 0.5rem; */
}
