@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* css variables */
:root {
  --main-color: #ffba49;
  --alt-color: #fbfffe;
  --alt-color-purple: #3e0928;
  --alt-color-blue: #101935;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: var(--alt-color);
}
