.hero_container {
  height: 100vh;
  width: 100%;
  background: linear-gradient(
      rgba(49, 6, 41, 0.8) 100%,
      rgba(49, 6, 41, 0.8) 100%
    ),
    url(../../../../public/assets/images/bg2.jpg) center center no-repeat;
}
.hero_row {
  display: flex;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}
.hero_col {
  width: 50%;
}
.hero_content {
  padding-top: 5rem;
}
.hero_content > h2 {
  font-size: 3.5rem;
  text-transform: capitalize;
  line-height: 1.3;
}
.hero_content > h2 > span {
  color: var(--main-color);
  font-weight: 100;
}
.hero_content > p {
  text-transform: uppercase;
}
.hero_img {
  height: 80vh;
}

.hero_btn {
  margin-top: 2rem;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  outline: none;
  border: none;
  width: 200px;
  height: 50px;
  font-size: 1.3rem;
  background-color: var(--main-color);
  box-shadow: rgb(239, 83, 80, 0.5) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.hero_btn:hover,
.hero_btn:active {
  transition: all 0.5s ease-in-out;
  transform: scale(1.1);
  cursor: pointer;
}
.sub_title {
  bottom: 10px;
  position: relative;
}
.small_border {
  background: #fff;
  display: inline-block;
  height: 4px;
  margin: 0 5px;
  width: 20px;
}
.large_border {
  background: var(--main-color);
  display: inline-block;
  height: 4px;
  width: 70px;
  margin: 0 10px;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
  .hero_row {
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .hero_col {
    width: 100%;
  }
  .hero_content {
    padding-top: 3rem;
  }
  .hero_content > h2 {
    font-size: 2rem;
  }
  .hero_img {
    width: 300px;
    height: 300px;
  }
  .hero_content > p {
    padding-top: 1rem;
  }
}
@media only screen and (min-device-width: 601px) and (max-device-width: 1024px) {
  .hero_row {
    flex-direction: column;
  }
  .hero_col {
    width: 100%;
  }
  .hero_content {
    padding-top: 3rem;
  }
  .hero_content > h2 {
    font-size: 2rem;
  }
  .hero_img {
    width: 300px;
    height: 300px;
  }
  .hero_content > p {
    padding-top: 1rem;
  }
}
