.split_screen {
  display: flex;
}
.split_screen__half {
  flex: 1;
}
.hero_content {
  padding-top: 5rem;
}
.hero_content > h2 {
  font-size: 3.5rem;
  text-transform: capitalize;
  line-height: 1.3;
}
.hero_content > h2 > span {
  color: var(--main-color);
  font-weight: 100;
}
.hero_content > p {
  text-transform: uppercase;
}
.hero_img {
  max-height: 400px;
}

.hero_btn {
  margin-top: 2rem;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  outline: none;
  border: none;
  width: 200px;
  height: 50px;
  font-size: 1.3rem;
  background-color: var(--main-color);
  box-shadow: rgb(239, 83, 80, 0.5) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.hero_btn:hover,
.hero_btn:active {
  transition: all 0.5s ease-in-out;
  transform: scale(1.1);
  cursor: pointer;
}
.sub_title {
  bottom: 10px;
  position: relative;
}
.small_border {
  background: #fff;
  display: inline-block;
  height: 4px;
  margin: 0 5px;
  width: 20px;
}
.large_border {
  background: var(--main-color);
  display: inline-block;
  height: 4px;
  width: 70px;
  margin: 0 10px;
}
